body{
  font-family: 'Bellota Text', cursive;
  font-size: 20px;

}

.fridgeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;

  .openFridge {
    list-style: none;
    padding-top: 10px;

    li {
      margin-right: 25px;
      padding-bottom: 10px;
      text-align: center;
      color: black;

      button{
        color: white;
        margin: 5px;
        background-color: #051B80;
        font-size: 16px;
        font-family: "Bitstream Charter";
        font-weight: bold;
        border: 1px  #f99a3d;
        padding:  5px 25px;
        border-radius: 15px;
        cursor: cell;
      }
    }
  }
}

.bottomFridge{
  display: flex;
  align-items: center;
  flex-direction: column;

}
.addProduct{
  font-family: "Bitstream Charter";
  color: black;
  border-radius: 20px;
  position: center;
  padding: 10px 30px;
  margin:10px;
  background-color: #94FFDA;
  border: #94FFDA;
  font-size: 20px;
  cursor: cell;
}
.footer{
  padding-top: 10px;
  padding-bottom: 20px;
  list-style: none;
  :hover{
    color: #051B80;
  }

}
input{
  font-size: 20px;
  height: 30px;
  width: 300px;
}