.navigation{
  width: 440px;
  height: 750px;
  border: 2px solid black;
  border-radius: 15%;
  background-color: #94FFDA;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;


  h2{
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 40px;
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
  }
  div{

    margin-right: 40px;
    color: black;
    width: 480px;


    border:1px solid black;
  }
  .openButton{
    margin-top: 100px;
    margin-left: 200px;
    width:120px;
    height:50px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    :hover{
      color: #051B80;

    }

  }
}